<h1 class="text-center text-info">
    List of Details of User for selected Id Type
</h1>
<table class="table table-bordered table-center">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
    </thead>
    <tr>
        <td>{{dataObj.id}}</td>
        <td>{{dataObj.name}}</td>
        <td>{{dataObj.username}}</td>
        <td>{{dataObj.email}}</td>
        <td>{{dataObj.phone}}</td>
        <td>{{dataObj.website}}</td>
    </tr>
</table>