<!-- <h1 class="text-center text-info">Employee Details</h1>

<input type="text" name="search" id="" placeholder="Search by employee name..." class="form-control m-5" [(ngModel)]= "searchTerm">

<table class="table table-bordered text-center">
    <thead>
        <th>EmployeeNo</th>
        <th>EmployeeName</th>
        <th>Age</th>
        <th>Designation</th>
        <th>Address</th>
        <tr *ngFor = "let obj of receivedEmpDetails |search:searchTerm">
            <td>{{obj.eno}}</td>
            <td>{{obj.name}}</td>
            <td>{{obj.age}}</td>
            <td>{{obj.designation}}</td>
            <td>{{obj.address}}</td>
        </tr>
    </thead>
</table> -->