<!-- <div class="row">
    <div class="col-sm-4 col-md-4 d-flex">
        <nav class="navbar navbar-light bg-light">
            <div container>
                <ul class="navbar-nav p-2 pt-0 m-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="javascript" routerLinkActive="active">Javascript</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="typescript" routerLinkActive="active">Typescript</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="bootstrap" routerLinkActive="active">Bootstrap</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-sm-8 col-md-8">
        <app-javascript></app-javascript>
        <app-typescript></app-typescript>
        <app-bootstrap></app-bootstrap>
    </div>
</div> -->