<!-- <h1 class="text-center text-info">List of ID's and Names of Users</h1>
<table class="table text-center table bordered">
    <thead>
        <th>Id</th>
        <th>Name</th>
    </thead>
    <tr>
        <td>
            <ul class="list-unstyled">
                <li *ngFor="let obj of idArray"><a routerLink="" (click)="gotoUserDetails(obj)">{{obj.id}}</a></li>
            </ul>
        </td>
        <td>
            <ul class="list-unstyled">
                <li *ngFor="let obj of idArray">{{obj.name}}</li>
            </ul>
        </td>
    </tr>
</table>


<h1>{{name | uppercase}}</h1>
<h1>{{name | lowercase}}</h1>
<h1>{{name | titlecase}}</h1>
<h1>Salary:{{salary | currency:"INR"}}</h1>
<h1>Rate Of Interest @SBI is {{r | percent}}</h1>
<h1>Student Object is {{student | json}}</h1>
<h1>Today's Date is {{today | date:"longDate"}}</h1>

<h1>Square of 5 is: {{n | square}}</h1>


<input type="text" name="" id="" [(ngModel)] = "data">
<h1>{{data}}</h1> -->